.yo{
    height: 600px;
    width: 600px;
    background-color: burlywood;
    padding-top: 20px;
    margin: auto;

}
.cat{
    height: 100px;
    width: 600px;
    background-color: aqua;
    display: flex;
}
.dog{
    height: 480px;
    width: 600px;
    background-color: coral;
    margin-top: 20px;
}
.pig{
    height: 200px;
    width:600px;
    background-color: blueviolet;
    display: flex;

}
.skyla{
    height:200px;
    width:298px;
    background-color: yellow;
    padding: 2px;
}
.zoe{
    height: 200px;
    width: 298px;
    background-color: rgb(199, 90, 126);
    padding: 2px;
}
   .kids{
    height: 200px;
    width: 600px;
    background-color: red;
    display: flex;
   } 
    .smith{
        height: 200px;
        width: 298px;
        background-color: blueviolet;
        padding: 2px;
    }
.leah{
    height:200px;
    width: 298px;
    background-color: crimson;
    padding: 2px;
}
.parents{
    height: 200px;
    width: 600px;
    background-color: cornflowerblue;
}


.whiskers{
    height: 100px;
    width: 480px;
}
.claws{
    height: 100px;
    width: 120px;
}
.img{
    border-radius: 50px;
}
.rat{
text-align: center;

}